extends layout

block scripts
    script(src='/javascripts/neworder.js')

block content
  h1= title
  div#main
      form(method='post',action='/order/new', id="orderform")
        | Your Name: 
        input(name='name',id='nameinput') 
        br 
        br
        each ingredient, x in ingredients
            input(name='ingredients',value='#{ingredient._id}',type="checkbox")
            |   #{ingredient.name} - $#{ingredient.cost}
            br
        br 
        button
            | Done